@keyframes glowme {
    0% {
        left: 0px;
    }
    50% {
        left: 15px;
    }
    100% {
        left: -15px;
    }
}
.ios-shake-incorrect-passcode {
    position: relative;
    left: 0%;
    animation-name: glowme;
    animation-iteration-count: 3;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}