/* <span class="_2her _3zzf" title="Sending"></span> */
/* <span class="_2her _3zzf" title="Sent"><i aria-label="Sent" aria-roledescription="Status icon" class="_57e_" role="img"></i></span> */
/* <span class="_2her _9ah" title="Delivered"><i aria-label="Delivered" aria-roledescription="Status icon" class="_57e_" role="img"></i></span> */
/* <span class="_2her _9ah" title="Seen"></span> */

._2her {
    background: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    bottom: 1px;
    box-sizing: border-box;
    color: #0084ff;
    display: inline-block;
    height: 10px;
    position: absolute;
    right: -15px;
    vertical-align: middle;
    width: 10px;
}
._2her ._57e_ {
    border: 1px solid currentColor;
    border-width: 0 0 1px 1px;
    display: block;
    height: 1px;
    margin-left: 3px;
    margin-top: 4px;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    width: 4px;
}
._9ah {
    background-color: currentColor;
}
._9ah ._57e_ {
    color: #fff;
}