._2her {
    background: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    bottom: 1px;
    box-sizing: border-box;
    color: #0084ff;
    display: inline-block;
    height: 10px;
    position: absolute;
    right: -15px;
    vertical-align: middle;
    width: 10px;
    margin-right: 10px;
}
._2her ._57e_ {
    border: 1px solid currentColor;
    border-width: 0 0 1px 1px;
    display: block;
    height: 1px;
    margin-left: 3px;
    margin-top: 4px;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    width: 4px;
}
._9ah {
    background-color: currentColor;
}
._9ah ._57e_ {
    color: #fff;
}
._30yy {
    cursor: pointer;
    transition: opacity .2s;
}
._gs2 {
    margin-left: 15px;
    margin-top: 16px;
    position: absolute;
}
.sp_tRueZ17UPsM.sx_4affb5 {
    width: 36px;
    height: 26px;
    background-position: 11px -232px;
}
/* i.img { */
    /* -ms-high-contrast-adjust: none; */
/* } */
.sp_tRueZ17UPsM {
    background-image: url(/chatApp/images/pIIGjbERR7h.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}